<h2>질문 수정</h2>
<div class="row">
  <div class="col-md-12">
    <p style="text-align: right;">
      created by <%= current_user.email %>, <%= time_ago_in_words(@question.created_at) %> ago
    </p>
  </div>
</div>
<%= render 'form' %>
<hr>
<%= link_to 'Show', @question, class: 'btn btn-default' %>
<%= link_to 'Back', questions_path, class: 'btn btn-default' %>
