<!--<p id="notice"><%= notice %></p>-->
<div class="qnaQuestion qnaQuestion-show qnaPanel">
  <div class="c-title">
    <h3>제목 : <%= @question.title %></h3>
  </div>
  <div class="c-content">
    <%= markdown(@question.content) %>
  </div>
  <div class="user">
    <span class="u-fontN7">Created by</span>
    <%= @question.user.present? ? @question.user.email : "Anonymous" %>,
    <%= time_ago_in_words(@question.created_at) %> ago
  </div>
</div>

<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %>
<%= link_to 'Back', questions_path, class: "btn btn-default" %>
